* {
    box-sizing: border-box;
}

.home_body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding: 5vw;
}

.home_body p {
    color: white;
    text-shadow: 2px 2px gray;
    position: absolute;
    left: 6vw;
    bottom: 6vw;
    font-size: 1.7em;
}

.star {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url(./images/star.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}