
* {
    box-sizing: border-box;
}
.home_body{
    align-items: center;
    margin-top: 15rem;
}

.house {
    border-radius: 50%;
    width:100px; 
    height:100px; 
    border:10px;

}
.food {
    width:100px; 
    height:100px;
    border-radius: 50%;
    margin-left: 2rem;
}
.transportation {
    width:100px; 
    height:100px;
    border-radius: 50%;

}
.entertainment {
    width:100px; 
    height:100px;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 2rem;
 
}
.clothing {
    width:100px; 
    height:100px;
    border-radius: 50%;
    margin-left: 2rem;
}

body {
    background-image: url(./star.jpg);
    background-size: cover;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}